*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
    width: 1366;
    height: 771;
}

main{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 2rem;
    padding: 5rem;
}

h1{
    color: #6C63FF;
    letter-spacing: 2px;
    size: 72px;
    font-weight: 700;
    align-items: flex-start;
}

h3{
    color: #C8C8C8;
    font-size: 16px;
    padding: 2rem;
}

.top_image, .bottom_image{
    width: 1349px;
}
.container_countdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    
}

.number_time{
    color: #4d4c59;
    font-weight: 400;
    font-size: 72px;
}

#data_time{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #C8C8C8;
    font-size: 14px;
}

.btn-primary{
  background: #6C63FF;
  color: white;
  padding: 13px 32px 13px 32px;
  border-radius: 10px;

  cursor: pointer; 
}

.modal_container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.24);

  display:none;
  align-items: center;
  justify-content: center;
  
}

.modal{
  background: rgb(255, 255, 255);
  width: 40%;
  height: 50%;
  border-radius:10px;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 0.5rem;
}

.modal_container.mostrar{
  display: flex;
}

.form_modal{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 1rem;
}

input{
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 10px;
  background: #6b63ff34
}

.btn-enviar{
  background: #6C63FF;
  color: white;
  padding: 13px 32px 13px 32px;
  border-radius: 10px;

  cursor: pointer; 
}
.btn-esc{
  background-color: #6C63FF;
  color: #ffffff;
  font-size: 1rem;
  border: 2px solid white;
  box-shadow: 0 1px 8px #3f3f3f71;

  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;

  position: relative;
  font-size: 1rem;
  left: 270px;
  top: -50px;
}


@keyframes modal {
  from { 
    opacity: 0;
    transform: translate3d(0,-60px,0);
  
  }

  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.mostrar .modal{
  animation: modal .3s;
}